DB_USER=test
DB_PASSWORD=test@123
DATABASE_URL=yourdatabaseurl
POSTGRES_DB=testdb
PORT=5000
DOCKER_USER=your_dockerhub_username
DOCKER_PASSWORD=your_dockerhub_password
SERVER_IP=your_server_ip_or_domain
SERVER_USER=your_ssh_username
SERVER_SSH_KEY=/path/to/your/private/key
